.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    margin: 0 0.5rem;
}

.workTime {
    background: var(--warning);
}

.shortBreakTime {
    background: var(--primary);
}

.longBreakTime {
    background: var(--info);
}