.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
}

.footer a {
    font-size: 1.2rem;
    color: var(--text-muted);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.footer a:hover {
    filter: brightness(80%);
    text-decoration: underline;
}
